@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Inicio de Sesión</h3></div>
                                <div class="card-body">
                                    <form id="account" method="post">
                                        @*<h2>Use a local account to log in.</h2>
                                        <hr />*@
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                            <label asp-for="Input.Email" class="form-label">Correo Eletrónico</label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                            <label asp-for="Input.Password" class="form-label">Contraseña</label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div>
                                            <div class="checkbox">
                                                <label asp-for="Input.RememberMe" class="form-label">
                                                    <input class="form-check-input" asp-for="Input.RememberMe" /> Recordarme</label>
                                            </div>
                                        </div>
                                        <div>
                                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Ingresar</button>
                                        </div>
                                        
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
